* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 14px;
}
.main-section {
  width: 100%;
  position: relative;
}
.map-container {
  width: 100%;
  position: relative;
  margin-top: 75px;
  background-color: blue;
  height: 90.7vh;
}
.search-container {
  width: 340px;
  height: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 10px;
}

.logo-container {
  width: 100%;
  height: 70px;
  border: 1px solid rgba(129, 129, 129, 0.03);
  background: #fff;
  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-summary-container {
  width: 384px;
  height: 650px;
  border-radius: 8px;
  flex-shrink: 0;
  background-color: hsl(0, 0%, 97%);
  overflow-y: hidden;
  right: 10px;
  position: absolute;
  z-index: 2;
  top: 30px;
}
.search-container-top {
  width: 100%;
  height: 45px;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  padding: 20px;
  top: 0;
  background-color: #3e3e3e;
  border-radius: 10px 10px 0px 0px;
}
.search-container-input {
  width: 90%;
  margin-top: 15px;
  outline: none;
  padding: 11px 11px 11px 12px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  background: #fff;
}
.map-container {
  position: relative; /* Make sure it's relative so the overlay is positioned correctly */
}

.map-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.dropdown-list {
  padding: 11px 12px 12px 11px;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  background: #fff;
}
.button {
  min-width: 300px;
  margin-top: 20px;
  height: 45px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.21s ease-in-out;

  background-color: #f3e461;
}
.button:hover {
  background-color: #bdb03f;
}

.result-summary-header {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  top: 0;
  background-color: red;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #999;
  background-color: #f4f4f4;
  transition: background-color 0.21s ease-in-out;
}
.button-container:hover {
  background-color: #bdb03f;
}
